body {
  background: url(paper.jpg);
  background-size: 100%;
  height: 100%;
  margin: 0;
  font-family: "Indie Flower", cursive !important;
  padding: 0;
  width: 100%;
}

header {
  font-size: 60px;
  text-align: center;
  margin-top: 65px;
  text-decoration-line: underline;
}

h1.first {
  justify-content: center;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  text-decoration-line: underline;
}

ul {
  margin-left: 180px;
  font-size: 30px;
}

#input {
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  margin-left: 190px;
  margin-bottom: 40px;
}

#add {
  font-size: 20px;
}

.deleteBtn {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #FF7171;
  border-radius: 4px;
  padding: 5px 15px 5px 15px;
  color: white;
}

.deleteBtn:hover {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #FF3C3C;
  border-radius: 4px;
  color: #ECECEC;
}

.done {
  text-decoration: line-through;
}
